
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

html {
    font-family: "Poppins", sans-serif;
}

.focus-gap {
    gap: 5px;
    transition: all 0.2s; 
}

.focus-gap:hover {
    gap: 10px;
}