
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

html {
    font-family: "Poppins", sans-serif;
}

.arrow.flipped {
    transform: scaleX(-1);
    translate: -10px 0;
}

.arrow {
    translate: 95px 0;
    transition: translate 0.1s;
}

.focus-gap:hover > .arrow {
    translate: 100px 0;
}

.focus-gap:hover > .arrow.flipped {
    translate: -15px 0;
}

.custom-ol {
    counter-reset: num;
    list-style: none;
    padding: 0;
  }
  
  .custom-ol li {
    counter-increment: num;
    display: flex;
    align-items: flex-start;
    padding: 5px;
  }
  
  .custom-ol li::before {
    content: counter(num) ".";
    margin-right: 1rem;
    margin-top: 7px;
    font-weight: bold;
  }